body {
	padding:0px;
	border: 0px;
	margin: 0px;
	height: 100%;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: small;
	background: #CCFF99;
}
#menu {
	position: absolute;
	z-index:100;
	top:80px;
	width: 170px;
	text-align: center;
	background: #A3CC7A;
	margin: 0;
	padding: 10px;
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
	text-shadow: 1px 1px 0 #52663d;
	color: #fff;
	font-size: 13px;
	display:none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#confirm-state {
	display: none;
	font-size: 14px;
	font-weight: bold;
	line-height: 10px;
	text-align: center;
}
.state-close {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
.ui-dialog {
	opacity: 0.9;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}
.ui-dialog-titlebar {
	display:none;
}
#saveState, #loadState {
	float:left;
	text-shadow: none;
	background-color: #d7d7d7;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	border: 2px solid #3f3f3f;
	width: 110px;
	text-align: center;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	height:30px;
	line-height: 30px;
	border-radius: 8px;
	box-shadow: inset 1px 1px 8px #a8a8a8;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	padding: 0 11px 0 13px;
	margin: 10px 10px 10px 16px;
	cursor: pointer;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #3f3f3f;
}
#saveState:hover, #loadState:hover {
	box-shadow: inset -1px -1px 8px #a8a8a8;
	background-color: #dcdcdc;
}
.nextprev {
	cursor: pointer;
}
.nextprev:hover {
	text-decoration: underline;
}
#language {
	position: absolute;
	z-index:100;
	top:0px;
	width: 170px;
	text-align: center;
	background: #A3CC7A;
	margin: 0;
	padding: 10px;
	-webkit-border-radius: 0px 0px 8px 8px;
	border-radius: 0px 0px 8px 8px;
	text-shadow: 1px 1px 0 #52663d;
	color: #fff;
	font-size: 13px;
	display:none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#eng {
	text-transform: uppercase;
	text-decoration: underline;
	cursor: default;
}
#esp {
	cursor: pointer;
}
#esp:hover {
	text-decoration: underline;
}
#container {
	margin: 10px auto;
   height: 615px;
   width: 852px;
   top: 100px;
   left: 50%;
	background: #A3CC7A;
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
}
#divTitle {
	margin-left: 25px;
	height:60px;
	width: 600px;
	line-height: 60px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}
#title {
	font-size: 25px;
	color: #fff;
	text-shadow: 1px 1px 0 #52663D;
}
#map {
	margin-left:25px;
	width: 800px;
	height: 500px;
	border: 1px solid #fff;
}
.button {
	cursor: default;
	border: 1px solid #fff;
	position: relative;
	float: left;
	color: #fff;
	text-shadow: 1px 1px 0 #52663D;
	text-align: center;
	width: 132px;
	height: 35px;
	line-height:35px;
	background: #7A995C;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#Area {
	background: #29331F;
	margin-left:25px;
	-webkit-border-radius: 0 0 0 8px;
	border-radius: 0 0 0 8px;
}
#last {
	width: 130px;
	-webkit-border-radius: 0 0 8px 0;
	border-radius: 0 0 8px 0;
}
#place-div {
	display: none;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	height:32px;
	margin-top:16px;
	width: 300px;
}
.ui-tooltip, .arrow:after {
	background: white;
	border: 2px solid white;
	opacity: 0.9;
   filter: alpha(opacity=90);
}
.ui-tooltip {
	padding: 10px 20px;
	color: black;
	border-radius: 4px;
	font-size: 14px;
	box-shadow: 0 0 4px black;
}
.arrow {
	width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: -16px;
}
.arrow.top {
	top: -16px;
	bottom: auto;
}
.arrow.left {
	left: 20%;
}
.arrow:after {
	content: "";
	position: absolute;
	left: 20px;
	top: -20px;
	width: 25px;
	height: 25px;
	box-shadow: 6px 5px 9px -9px black;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.arrow.top:after {
	bottom: -20px;
	top: auto;
}
.menu-mark {
	width: 108px;
	background-color: #c6c6c6;
	color: #3c3c3c;
	padding: 2px;
	cursor: pointer;
	border-radius: 3px;
}
.menu-mark-container {
	box-shadow: 0 2px 6px rgba(0, 0, 0, 1);
	height: 24px;
	font-size: 14px;
	border: 1px solid black;
	margin-top: 8px;
	background-color: #fff;
	padding: 5px;
	border-radius: 3px;
}